
/* NAVBAR */
.navbar-fixed-top {
    position: static;
    margin-bottom: 30px;
}
.navbar-inverse .navbar-inner {
    background-color: #1A546F;
    background-image: none;
	font-weight: bold;
}
.navbar.navbar-inverse .brand,
.navbar.navbar-inverse .brand.active,
.navbar.navbar-inverse .nav > li > a,
.navbar.navbar-inverse .nav > .active > a {
    color: white;
    text-shadow: none;
}
.navbar.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret,
.navbar.navbar-inverse .nav .dropdown.open > .dropdown-toggle .caret {
    border-bottom-color: white;
    border-top-color: white;
}
.navbar .navbar-inverse .dropdown-menu li > a:hover,
.navbar-inverse .dropdown-menu li > a:hover,
.navbar-inverse .dropdown-menu .active > a,
.navbar-inverse .dropdown-menu .active > a:hover {
    background-color: #1A546F;
    background-image: none;
    color: white;
}
.navbar .brand {
	font-weight: bold;
	margin-left: 0;
}
.navbar .brand.active {
	color: #fff;
	background-color: #111;
}

/* CONTENT */
.pattern {
	margin-bottom: 30px;
}
    .pattern__title {
    	border-bottom: 1px dashed #BBB;
        padding: 2px;
        color: #BBB;
        font-weight: bold;
        font-size: 1.2em;
    }
        .pattern__link {
            padding: 0 2px;
            color: #BBB;
        }
            .pattern__link:hover {
                color: #252525;
            }
        .pattern:hover > .pattern__title {
            border-bottom: 1px dashed #252525;
            color: #252525;
        }
    .pattern__demo {
        padding: 10px 20px;
    }
    .pattern__demo iframe {
    	width: 100%;
    	border: 0;
    }
    .pattern__code {

    }